<div class="container">
  <div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="col-sm-11">
      <h1 class="form-title text-center"><b>ログイン</b></h1>
    </div>

    <div class="col-sm-11">
      <h2 class="form-field text-center">
        <div class="form-group">
          <%= f.label :メールアドレス %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %><br/>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="form-group">
          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end %>
        </div>
      </h2>
    </div>

    <div class="col-sm-3 col-sm-offset-5">
      <div class="actions">
        <%= f.submit "ログイン" , class: "btn btn-lg btn-success active" %>
      </div>
    </div>
  <% end %>
  </div>
</div>