<div class="container">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-2">
      <h2>
        <div class="sign-title">
          <span class="glyphicon glyphicon-user"> Sign-in</span>
        </div>
      </h2>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="sign-field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="sign-field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="sign-field">
        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-3 col-sm-offset-5">
      <div class="sign-actions">
        <%= f.submit "Sign-in" , class: "btn btn-lg btn-success active" %>
      </div>
      <% end %>
    </div>
  </div>
</div>