<div class>
	<% if @post.errors.any? %>
	 <p>errorです。</p>
	<% end %>
	<h1>Editing</h1>
	<%= form_with(model: @post, url: posts_path, method: :post) do |f| %>
	<table class="table">
        <tbody>
        	<tr>
                <th>滞在期間</th>
                <td><%= f.date_select :depature_date, use_month_numbers: true , start_year: 1930 %> ~ <%= f.date_select :return_date, use_month_numbers: true , start_year: 1930 %></td>
            </tr>
            <tr>
                <th>メモ</th>
                <td><%= f.text_area :memo %></td>
            </tr>
            <tr>
                <th>国名</th>
                <td><%= f.select :country_id, Country.pluck(:country,:id) %></td>
            </tr>
            <tr>
                <th>画像</th>
                <td><%= f.attachment_field :image %></td>
            </tr>
            <tr>
                <th>ビザ</th>
                <td>
                    <label><%= f.radio_button :visa, :true, checked: true %> 有</label>
                    <label><%= f.radio_button :visa, :false %> 無</label>
                </td>
            </tr>
            <tr>
                <th>ワクチン</th>
                <td><%= f.select :vaccine_id, Vaccine.pluck(:sel_vac,:id) %></td>
            </tr>
        </tbody>
    </table>
	<%= f.submit "Update Post"%>
	<% end %>

	<%= link_to "Show" ,post_path%> | <%= link_to "back" ,posts_path%>

</div>