<div class="container">
    <%= form_with(model: @post, url: post_path, method: :patch) do |f| %>
    <div class="row text-center">
        <div class="col-sm-11">
          <h1 class="form-title"><b>編集</b></h1>
        </div>
        <div class="col-sm-11 form-field">
            <div class="form-group">
                <p>国名 <%= f.collection_select :country_id, Country.all,:id,:country %></p>
                <p>滞在期間 : <%= f.date_select :depature_date, use_month_numbers: true , start_year: 1930 %> ~ <%= f.date_select :return_date, use_month_numbers: true , start_year: 1930 %></p>
                <p>ビザ : <label><%= f.radio_button :visa, :true, checked: true %> 有 </label>
                                            <label><%= f.radio_button :visa, :false %> 無 </label></p>
                <p>ワクチン : <%= f.select :vaccine_id, Vaccine.pluck(:name,:id) %></p>
                <p>メモ : <%= f.text_area :memo %></p>
                <table style="margin: 0 auto;">
                    <tbody>
                        <tr>
                            <td style="padding: 10px;">画像 : </td>
                            <td><%= f.attachment_field :image %></td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;">動画(15sec)</td>
                            <td><%= f.file_field :video %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="actions">
            <h4>
                <%= f.submit '更新', class: "btn btn-lg btn-success active"%>
                <button class="btn btn-link"><%= link_to "戻る", post_path %></button>
            </h4>
        </div>
    </div>
    <% end %>
</div>