<div class="container">
    <div class="row">
    	<div class="col-sm-6 col-sm-offset-1">
    	</div>
    	<div class="col-sm-4">
		<% @posts.each do |post| %>
	    	<div class="top-box">
				<%= link_to attachment_image_tag(post, :image, :fill, 300, 300,format: 'jpeg',
					fallback: "no_image.png",size: "300x300" ), post_path(post.id) %>
				<p><%=link_to Country.find(post.country_id).country , post_path(post.id) %> |
					   <%=link_to post.memo , post_path(post.id) %></p>
			</div>
		<% end %>
    	</div>
   </div>
   <div class="row">
    	<% @posts.each do |post| %>
	    	<div class="under-box">
				<%= link_to attachment_image_tag(post, :image, :fill, 260, 260,format: 'jpeg',
				fallback: "no_image.png",size: "260x260" ), post_path(post.id) %>
				<%=link_to Country.find(post.country_id).country , post_path(post.id) %>
			</div>
		<% end %>
   </div>
</div>