<table>
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= link_to @posts.user.name , user_path %></td>
			<td><%= @posts.memo %></td>
			<td><%= attachment_image_tag @posts, :image, :fill, 100, 100 %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>



<% if @posts.user_id == current_user.id %>
	<%= link_to "Edit", edit_post_path %>
	<%= link_to "Destroy", post_path ,  method: :delete ,"data-confirm" => "本当に削除しますか？"%>
<% end %>