<div>
    <p><%= link_to @posts.user.name , user_path %></p>
    <p><%= @posts.memo %></p>
    <p><%= attachment_image_tag @posts, :image, :fill, 100, 100 %></p>
    <p><%= @posts.depature_date %> ~ <%= @posts.return_date %></p>
    <p><% if @posts.visa %>◯<% else %>×<% end %></p>
    <p><%= Vaccine.find(@posts.vaccine_id).name %></p>
    <p></p>
</div>

<% if @posts.user_id == current_user.id %>
	<%= link_to "Edit", edit_post_path %>
	<%= link_to "Destroy", post_path ,  method: :delete ,"data-confirm" => "本当に削除しますか？"%>
<% end %>


