<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <%= attachment_image_tag(@post, :image, :fill, 500, 500, format: 'jpeg',fallback: "no_image.png",size: "500x500" ) %>
            <p class="video" style= "margin-top: 20px;">
                <%= video_tag @post.video_url.to_s,loop: true, controls: true, width: 500, id: "mv"%>
            </p>
        </div>
        <div class="col-sm-5">
            <div class="text">
                <p class="show-content">
                    <% if @post.user_id == current_user.id %>
                        <%= link_to "Edit", edit_post_path %> |
                        <%= link_to "Destroy", post_path ,  method: :delete ,"data-confirm" => "本当に削除しますか？"%>
                    <% end %>
                </p>
                <p class="show-content">by : <%= link_to @post.user.name , user_path(@post.user_id) %></p>
                <p class="show-content">国名 : <%= Country.find(@post.country_id).country %></p>
                <p class="show-content">期間 : <%= @post.depature_date %> ~ <%= @post.return_date %></p>
                <p class="show-content">ビザ : <% if @post.visa %>◯<% else %>×<% end %></p>
                <p class="show-content">ワクチン : <%= Vaccine.find(@post.vaccine_id).name %></p>
                <p class="show-content">メモ : <%= @post.memo %></p>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="comment">
                <h3>Comments</h3>
                <div id="comments_area">
                  <%= render partial: 'comments/index', locals: { comments: @comments } %>
                </div>
                <% if user_signed_in? %>
                  <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
                <% end %>
            </div>
        </div>
    </div>
</div>






