<div class="container">
    <div class="row">
        <%= form_with(model: @user, url: admin_user_path, method: :patch) do |f| %>
        <div class>
            <h1>Edit</h1>
            <p>name : <%= f.text_field :name, autofocus: true, autocomplete: "name" %></p>
            <p>Email : <%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
        </div>
        <div class="col-sm-3 col-sm-offset-7">
            <div class="edit-action">
                <%= f.submit "更新", class: "btn btn-sm" %>
                <%= link_to "キャンセル", :back, class: "btn btn-sm" %>
            </div>
        </div>
        <% end %>
    </div>
</div>